In [154]:
import pandas as pd
import numpy as np

In [155]:
data_trade_2025 = pd.read_csv(
    "data_raw/TradeData_12_15_2025_18_6_30.csv",
    encoding='ISO-8859-1'
)
data_trade_2024 = pd.read_csv(
    "data_raw/TradeData_12_15_2025_17_59_40.csv",
    encoding='ISO-8859-1'
)

data_trade_2023 = pd.read_csv(
    "data_raw/TradeData_12_15_2025_18_29_57.csv",
    encoding='ISO-8859-1'
)
data_trade_2022 = pd.read_csv(
    "data_raw/TradeData_12_15_2025_18_31_33.csv",
    encoding='ISO-8859-1'
)
data_trade_2021 = pd.read_csv(
    "data_raw/TradeData_12_15_2025_18_34_44.csv",
    encoding='ISO-8859-1'
)
data_hcode = pd.read_csv(
    "data_raw/harmonized-system.csv",
    encoding='ISO-8859-1'
)
data_iso = pd.read_csv(
    "data_raw/countries_data.csv"
)

In [156]:
data_trade = pd.concat([data_trade_2025, data_trade_2024, data_trade_2023, data_trade_2022, data_trade_2021], axis=0, ignore_index=True)

In [157]:
data_trade.isna().sum()

typeCode                         0
freqCode                         0
refPeriodId                      0
refYear                          0
refMonth                         0
period                           0
reporterCode                     0
reporterISO                      0
reporterDesc                     0
flowCode                         0
flowDesc                         0
partnerCode                      0
partnerISO                       0
partnerDesc                      0
partner2Code                     0
partner2ISO                      0
partner2Desc                     0
classificationCode               0
classificationSearchCode         0
isOriginalClassification         0
cmdCode                          0
cmdDesc                          0
aggrLevel                        0
isLeaf                           0
customsCode                      0
customsDesc                      0
mosCode                          0
motCode                          0
motDesc                          0
qtyUnitCode                 367544
qtyUnitAbbr                      0
qty                              0
isQtyEstimated                   0
altQtyUnitCode              367544
altQtyUnitAbbr                   0
altQty                           0
isAltQtyEstimated            18266
netWgt                           0
isNetWgtEstimated                0
grossWgt                         0
isGrossWgtEstimated         159636
cifvalue                    117398
fobvalue                         0
primaryValue                     0
legacyEstimationFlag             0
isReported                       0
isAggregate                 367544
dtype: int64

In [158]:
data_trade.head(n=1000)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,M,20250101,2025,1,202501,28,ATG,Antigua and Barbuda,M,Import,...,True,0,False,2.737094e+06,NaN,2.737094e+06,4,False,True,NaN
1,M,20250101,2025,1,202501,31,AZE,Azerbaijan,M,Import,...,False,0,False,9.093474e+06,NaN,9.093474e+06,0,False,True,NaN
2,M,20250101,2025,1,202501,31,AZE,Azerbaijan,X,Export,...,False,0,False,NaN,1.201970e+05,1.201970e+05,0,False,True,NaN
3,M,20250101,2025,1,202501,32,ARG,Argentina,M,Import,...,False,0,False,1.962211e+07,1.848828e+07,1.962211e+07,0,False,True,NaN
4,M,20250101,2025,1,202501,32,ARG,Argentina,X,Export,...,False,0,False,NaN,2.555126e+08,2.555126e+08,0,False,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,M,20250101,2025,1,202501,242,FJI,Fiji,M,Import,...,True,0,False,3.965667e+06,NaN,3.965667e+06,4,False,True,NaN
996,M,20250101,2025,1,202501,242,FJI,Fiji,X,Export,...,False,0,False,NaN,8.701529e+04,8.701529e+04,0,False,True,NaN
997,M,20250101,2025,1,202501,246,FIN,Finland,M,Import,...,False,0,False,1.987687e+07,NaN,1.987687e+07,0,False,True,NaN
998,M,20250101,2025,1,202501,246,FIN,Finland,X,Export,...,True,0,False,NaN,1.396609e+07,1.396609e+07,4,False,True,NaN
999,M,20250101,2025,1,202501,268,GEO,Georgia,M,Import,...,False,0,False,1.774394e+07,NaN,1.774394e+07,0,False,True,NaN

In [159]:
data_date = pd.DataFrame(data_trade["freqCode"].drop_duplicates())

In [160]:
data_date.head()

       freqCode
0      20250101
4628   20250201
8938   20250301
13184  20250401
17420  20250501

In [161]:
data_date['freqCode'] = data_date['freqCode'].astype(str)
data_date["Year"] = data_date['freqCode'].str.slice(start=0, stop=4)
data_date["Month_Number"] = data_date['freqCode'].str.slice(start=4, stop=6)
data_date["date"] = data_date["Year"] + "-" + data_date["Month_Number"] + "-01"

In [162]:
month_map = {
    "01": "January",
    "02": "February",
    "03": "March",
    "04": "April",
    "05": "May",
    "06": "June",
    "07": "July",
    "08": "August",
    "09": "September",
    "10": "October",
    "11": "November",
    "12": "December"
}

data_date["Month"] = data_date["Month_Number"].map(month_map)

data_date.head()

       freqCode  Year Month_Number        date     Month
0      20250101  2025           01  2025-01-01   January
4628   20250201  2025           02  2025-02-01  February
8938   20250301  2025           03  2025-03-01     March
13184  20250401  2025           04  2025-04-01     April
17420  20250501  2025           05  2025-05-01       May

In [163]:
data_date.set_index("freqCode")

          Year Month_Number        date      Month
freqCode
20250101  2025           01  2025-01-01    January
20250201  2025           02  2025-02-01   February
20250301  2025           03  2025-03-01      March
20250401  2025           04  2025-04-01      April
20250501  2025           05  2025-05-01        May
20250601  2025           06  2025-06-01       June
20250701  2025           07  2025-07-01       July
20250801  2025           08  2025-08-01     August
20250901  2025           09  2025-09-01  September
20251001  2025           10  2025-10-01    October
20240101  2024           01  2024-01-01    January
20240201  2024           02  2024-02-01   February
20240301  2024           03  2024-03-01      March
20240401  2024           04  2024-04-01      April
20240501  2024           05  2024-05-01        May
20240601  2024           06  2024-06-01       June
20240701  2024           07  2024-07-01       July
20240801  2024           08  2024-08-01     August
20240901  2024           09  2024-09-01  September
20241001  2024           10  2024-10-01    October
20241101  2024           11  2024-11-01   November
20241201  2024           12  2024-12-01   December
20230101  2023           01  2023-01-01    January
20230201  2023           02  2023-02-01   February
20230301  2023           03  2023-03-01      March
20230401  2023           04  2023-04-01      April
20230501  2023           05  2023-05-01        May
20230601  2023           06  2023-06-01       June
20230701  2023           07  2023-07-01       July
20230801  2023           08  2023-08-01     August
20230901  2023           09  2023-09-01  September
20231001  2023           10  2023-10-01    October
20231101  2023           11  2023-11-01   November
20231201  2023           12  2023-12-01   December
20220101  2022           01  2022-01-01    January
20220201  2022           02  2022-02-01   February
20220301  2022           03  2022-03-01      March
20220401  2022           04  2022-04-01      April
20220501  2022           05  2022-05-01        May
20220601  2022           06  2022-06-01       June
20220701  2022           07  2022-07-01       July
20220801  2022           08  2022-08-01     August
20220901  2022           09  2022-09-01  September
20221001  2022           10  2022-10-01    October
20221101  2022           11  2022-11-01   November
20221201  2022           12  2022-12-01   December
20210101  2021           01  2021-01-01    January
20210201  2021           02  2021-02-01   February
20210301  2021           03  2021-03-01      March
20210401  2021           04  2021-04-01      April
20210501  2021           05  2021-05-01        May
20210601  2021           06  2021-06-01       June
20210701  2021           07  2021-07-01       July
20210801  2021           08  2021-08-01     August
20210901  2021           09  2021-09-01  September
20211001  2021           10  2021-10-01    October
20211101  2021           11  2021-11-01   November
20211201  2021           12  2021-12-01   December

In [164]:
data_date.to_csv("data_processed/dim_date.csv", index=False)

In [165]:
data_trade.drop(["refPeriodId", "refYear", "refMonth", "period"], axis=1, inplace=True)

In [166]:
data_trade.drop(["reporterISO"], axis=1, inplace=True)

In [167]:
data_flow = data_trade[["reporterDesc", "flowCode"]].drop_duplicates(subset=["reporterDesc"])
data_flow.head()

      reporterDesc         flowCode
0                M           Import
2                X           Export
36626           DX  Domestic Export
36627           FM   Foreign Import
36631           RX        Re-export

In [168]:
flow_map_group = {
    "DX" : "Export",
    "FM" : "Import",
    "RM" : "Import",
    "RX" : "Export",
    "MIP" : "Import",
    "XIP" : "Export",
    "XOP" : "Export",
    "MOP" : "Import"
}
data_flow["flowGroup"] = data_flow["reporterDesc"].map(flow_map_group)

In [169]:
flow_map_type = {
    "Domestic Export" : "Standard",
    "Foreign Import" : "Standard",
    "Re-import" : "Repeated",
    "Re-export" : "Repeated",
    "Import" : "Total",
    "Export" : "Total",
    "Import of goods for inward processing": "Processing",
    "Export of goods after inward processing": "Processing",
    "Export of goods for outward processing": "Processing",
    "Import of goods after outward processing": "Processing"
}
data_flow["flowType"] = data_flow["flowCode"].map(flow_map_type)

In [170]:
data_trade.drop(["typeCode"], inplace=True, axis=1)

In [171]:
data_trade.drop(["partnerCode", "partnerISO", "partnerDesc", "partner2Code", "partner2ISO", "partner2Desc", "classificationCode", "classificationSearchCode", "isOriginalClassification", "cmdDesc", "aggrLevel"], inplace=True, axis=1)

In [172]:
data_trade = pd.merge(data_trade, data_hcode[["description", "hscode"]], left_on="cmdCode", right_on="description", how="left")

In [173]:
data_trade.isnull().sum()

freqCode                     0
reporterCode                 0
reporterDesc                 0
flowCode                     0
flowDesc                     0
cmdCode                      0
isLeaf                       0
customsCode                  0
customsDesc                  0
mosCode                      0
motCode                      0
motDesc                      0
qtyUnitCode             367544
qtyUnitAbbr                  0
qty                          0
isQtyEstimated               0
altQtyUnitCode          367544
altQtyUnitAbbr               0
altQty                       0
isAltQtyEstimated        18266
netWgt                       0
isNetWgtEstimated            0
grossWgt                     0
isGrossWgtEstimated     159636
cifvalue                117398
fobvalue                     0
primaryValue                 0
legacyEstimationFlag         0
isReported                   0
isAggregate             367544
description              10245
hscode                   10245
dtype: int64

In [174]:
data_trade["hscode"] = data_trade["hscode"].fillna("24")

In [175]:
data_clearance = data_trade[["customsCode", "isLeaf"]].drop_duplicates(subset=["isLeaf"])

In [176]:
clearence_end_use_map = {
    "TOTAL CPC" : "No",
    "Outright exportation" : "Yes",
    "Reimportation in the same state" : "No",
    "Clearance for home use" : "Yes"
}
data_clearance["clearenceEndUse"] = data_clearance["customsCode"].map(clearence_end_use_map)

In [177]:
clearence_is_repeated_map = {
    "TOTAL CPC" : "No",
    "Outright exportation" : "No",
    "Reimportation in the same state" : "Yes",
    "Clearance for home use" : "No"
}
data_clearance["clearenceIsRepeated"] = data_clearance["customsCode"].map(clearence_is_repeated_map)

In [178]:
clearence_is_domestic = {
    "TOTAL CPC" : "No",
    "Outright exportation" : "No",
    "Reimportation in the same state" : "Yes",
    "Clearance for home use" : "No"
}
data_clearance["clearenceIsDomestic"] = data_clearance["customsCode"].map(clearence_is_domestic)

In [179]:
data_clearance.to_csv("data_processed/dim_clearence.csv", index=False)

In [180]:
data_trade.drop(["customsDesc", "motDesc", "qtyUnitCode", "qtyUnitAbbr", "qty", "isQtyEstimated", "altQtyUnitCode", "altQtyUnitAbbr", "altQty", "isAltQtyEstimated", "netWgt", "isNetWgtEstimated", "grossWgt", "isGrossWgtEstimated", "cifvalue", "primaryValue", "legacyEstimationFlag", "isReported", "isAggregate", "description"], axis=1, inplace=True)

In [181]:
data_mots = data_trade[["mosCode", "motCode"]].drop_duplicates(subset=["mosCode"])

In [182]:
mots_speed_map = {
    "Air" : "Fast",
    "Water" : "Slow",
    "Road" : "Medium",
    "Railway" : "Medium",
    "Land" : "Medium"
}
data_mots["motSpeedClass"] = data_mots["motCode"].map(mots_speed_map)

In [183]:
mots_cost_map = {
    "Air" : "High",
    "Water" : "Low",
    "Road" : "Medium",
    "Railway" : "Medium",
    "Land" : "Medium"
}
data_mots["motCostClass"] = data_mots["motCode"].map(mots_cost_map)

In [184]:
mot_avg_cost_ton_map = {
    "Air" : 1.0,
    "Water" : 0.02,
    "Road" : 0.1,
    "Railway" : 0.04,
    "Land" : 0.07
}
data_mots["motAvgCostTon"] = data_mots["motCode"].map(mot_avg_cost_ton_map)

In [185]:
data_mots.to_csv("data_processed/dim_mots.csv", index=False)

In [186]:
data_hcode.drop(columns=["section", "level"], inplace=True)

In [187]:
data_hcode.to_csv("data_processed/dim_product.csv", index=False)

In [188]:
data_iso.drop(["alpha-2", "iso_3166-2", "intermediate-region", "intermediate-region-code", "region-code", "sub-region-code"], axis=1, inplace=True)

In [189]:
data_iso.head()

             name alpha-3  country-code   region       sub-region
0     Afghanistan     AFG             4     Asia    Southern Asia
1   Ã…land Islands     ALA           248   Europe  Northern Europe
2         Albania     ALB             8   Europe  Southern Europe
3         Algeria     DZA            12   Africa  Northern Africa
4  American Samoa     ASM            16  Oceania        Polynesia

In [190]:
data_iso.to_csv("data_processed/dim_country.csv", index=False)

In [191]:
data_trade.head()

,freqCode,reporterCode,reporterDesc,flowCode,flowDesc,cmdCode,isLeaf,customsCode,mosCode,motCode,fobvalue,hscode
0,20250101,ATG,M,Import,0,Meat and edible meat offal,C00,TOTAL CPC,0,TOTAL MOT,2.737094e+06,02
1,20250101,AZE,M,Import,0,Meat and edible meat offal,C00,TOTAL CPC,0,TOTAL MOT,9.093474e+06,02
2,20250101,AZE,X,Export,0,Meat and edible meat offal,C00,TOTAL CPC,0,TOTAL MOT,1.201970e+05,02
3,20250101,ARG,M,Import,0,Meat and edible meat offal,C00,TOTAL CPC,0,TOTAL MOT,1.962211e+07,02
4,20250101,ARG,X,Export,0,Meat and edible meat offal,C00,TOTAL CPC,0,TOTAL MOT,2.555126e+08,02

In [192]:
data_trade.drop(["cmdCode", "motCode", "customsCode", "flowCode"], axis=1, inplace=True)

In [193]:
data_trade.rename(columns={
    "hscode": "product_code",
    "freqCode": "date_key",
    "reporterCode": "country_code",
    "reporterDesc": "flow_code",
    "isLeaf": "clearence_code",
    "mosCode": "mot_code",
    "fobvalue": "value"
},inplace=True)
data_trade.head(5)

,date_key,country_code,flow_code,flowDesc,clearence_code,mot_code,value,product_code
0,20250101,ATG,M,0,C00,0,2.737094e+06,02
1,20250101,AZE,M,0,C00,0,9.093474e+06,02
2,20250101,AZE,X,0,C00,0,1.201970e+05,02
3,20250101,ARG,M,0,C00,0,1.962211e+07,02
4,20250101,ARG,X,0,C00,0,2.555126e+08,02

In [194]:
data_trade.to_csv("data_processed/fact_trade.csv", index=False)

### Exploratory analysis

In [195]:
data_hcode[data_hcode["parent"] == "TOTAL"]

     hscode                                        description parent
0        01                                      Animals; live  TOTAL
41       02                         Meat and edible meat offal  TOTAL
118      03  Fish and crustaceans, molluscs and other aquat...  TOTAL
353      04  Dairy produce; birds' eggs; natural honey; edi...  TOTAL
397      05  Animal originated products; not elsewhere spec...  TOTAL
...     ...                                                ...    ...
6794     95  Toys, games and sports requisites; parts and a...  TOTAL
6840     96                Miscellaneous manufactured articles  TOTAL
6910     97      Works of art; collectors' pieces and antiques  TOTAL
6936     99        Commodities not specified according to kind  TOTAL
6939  TOTAL                    Total of all HS2022 commodities  TOTAL

[98 rows x 3 columns]

In [196]:
print(data_trade["clearence_code"].drop_duplicates(inplace=False))
print(data_trade["mot_code"].drop_duplicates(inplace=False))
print(data_trade["product_code"].drop_duplicates(inplace=False))

0      C00
43     C01
51     C03
271    C02
Name: clearence_code, dtype: object
0         0
22     1000
32     3000
34     3200
94     3100
771    2000
Name: mot_code, dtype: int64
0      02
58     04
130    07
207    08
283    09
364    12
434    22
519    24
588    30
669    44
Name: product_code, dtype: object

In [197]:
data_trade.shape

(367544, 8)

In [198]:
data_trade_2024.shape

(92803, 47)

In [199]:
data_trade_2024_1 = pd.read_csv("data_raw/TradeData_12_15_2025_17_59_40.csv",
                                    encoding='ISO-8859-1'
                                )

In [200]:
data_trade_2024_1.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
C,M,20240101,2024,1,202401,20,AND,Andorra,M,Import,...,False,0,False,4.460661e+06,NaN,4.460661e+06,0,False,True,NaN
C,M,20240101,2024,1,202401,20,AND,Andorra,X,Export,...,False,0,False,NaN,6.947325e+04,6.947325e+04,0,False,True,NaN
C,M,20240101,2024,1,202401,24,AGO,Angola,DX,Domestic Export,...,False,0,False,NaN,4.476404e+03,4.476404e+03,0,False,True,NaN
C,M,20240101,2024,1,202401,24,AGO,Angola,FM,Foreign Import,...,False,0,False,3.296886e+07,2.810221e+07,3.296886e+07,0,False,True,NaN
C,M,20240101,2024,1,202401,24,AGO,Angola,M,Import,...,False,0,False,3.296886e+07,2.810221e+07,3.296886e+07,0,False,True,NaN

In [201]:
data_trade_2024_1[["flowCode", "reporterDesc"]].drop_duplicates(inplace=False)

                                   flowCode reporterDesc
C                                    Import            M
C                                    Export            X
C                           Domestic Export           DX
C                            Foreign Import           FM
C                                 Re-export           RX
C                                 Re-import           RM
C     Import of goods for inward processing          MIP
C   Export of goods after inward processing          XIP
C    Export of goods for outward processing          XOP
C  Import of goods after outward processing          MOP

In [202]:
data_trade_2025_1 = pd.read_csv("data_raw/TradeData_12_15_2025_18_6_30.csv",
                                encoding='ISO-8859-1')

In [203]:
print(data_trade_2025_1.shape)
print(data_trade_2025.shape)

(36624, 47)
(36624, 47)

In [204]:
data_trade_2024["reporterISO"].drop_duplicates(inplace=False)

C                Andorra
C                 Angola
C    Antigua and Barbuda
C             Azerbaijan
C              Argentina
            ...
C                  Egypt
C         United Kingdom
C                    USA
C           Burkina Faso
C             Uzbekistan
Name: reporterISO, Length: 99, dtype: object

In [205]:
data_trade_2024_1["reporterISO"].drop_duplicates(inplace=False)

C                Andorra
C                 Angola
C    Antigua and Barbuda
C             Azerbaijan
C              Argentina
            ...
C                  Egypt
C         United Kingdom
C                    USA
C           Burkina Faso
C             Uzbekistan
Name: reporterISO, Length: 99, dtype: object

In [206]:
data_check = pd.merge(data_trade_2024_1, data_iso, left_on="reporterCode", right_on="alpha-3", how="left")

In [207]:
datacheck_europe = data_check[data_check["region"] == "Europe"].drop_duplicates()

In [208]:
datacheck_europe["reporterISO"].drop_duplicates().shape

(36,)