In [64]:
import pandas as pd

In [65]:
data_trade_1 = pd.read_csv(
    "data_raw/TradeData_12_2_2025_21_49_21 - FoodRelated.csv",
    encoding='ISO-8859-1'
)
data_trade_2 = pd.read_csv(
    "data_raw/TradeData_12_2_2025_21_54_20 - ProductionRelated.csv",
    encoding='ISO-8859-1'
)

In [66]:
data_trade_1.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
C,A,20200101,2020,52,2020,8,ALB,Albania,M,Import,...,False,0.0,False,4.643818e+07,0.000,4.643818e+07,0,False,True,NaN
C,A,20200101,2020,52,2020,8,ALB,Albania,X,Export,...,False,0.0,False,0.000000e+00,763274.564,7.632746e+05,0,False,True,NaN
C,A,20200101,2020,52,2020,20,AND,Andorra,M,Import,...,False,0.0,False,3.075140e+07,NaN,3.075140e+07,0,False,True,NaN
C,A,20200101,2020,52,2020,20,AND,Andorra,X,Export,...,False,0.0,False,NaN,3826.514,3.826514e+03,0,False,True,NaN
C,A,20200101,2020,52,2020,24,AGO,Angola,M,Import,...,True,0.0,False,3.049372e+08,NaN,3.049372e+08,4,False,True,NaN

In [67]:
data_trade_2.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
C,A,20200101,2020,52,2020,8,ALB,Albania,M,Import,...,False,0.0,False,266648.538,0.000,266648.538,0,False,True,NaN
C,A,20200101,2020,52,2020,20,AND,Andorra,M,Import,...,False,0.0,False,1626462.574,NaN,1626462.574,0,False,True,NaN
C,A,20200101,2020,52,2020,20,AND,Andorra,X,Export,...,False,0.0,False,NaN,190173.920,190173.920,0,False,True,NaN
C,A,20200101,2020,52,2020,24,AGO,Angola,M,Import,...,False,0.0,False,857641.587,NaN,857641.587,0,False,True,NaN
C,A,20200101,2020,52,2020,24,AGO,Angola,X,Export,...,False,0.0,False,NaN,6924.654,6924.654,0,False,True,NaN

In [68]:
data_trade = pd.concat([data_trade_1,data_trade_2], axis=0, ignore_index=True)

In [69]:
print(data_trade_1.shape)
print(data_trade_2.shape)
print(data_trade.shape)

(15706, 47)
(8558, 47)
(24264, 47)

In [70]:
data_trade.to_csv("data_processed/data_trade.csv", index=False)

In [71]:
data_pkb_change = pd.read_excel(
    "data_raw/imf-dm-export-20251202.xls"
)

In [72]:
data_pkb_change.head()

,Real GDP growth (Annual percent change),1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
0,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,-14.5,-6.2,2.3,1.7,no data,no data,no data,no data,no data,no data
1,Albania,2.7,5.7,2.9,1.1,2,-1.5,5.6,-0.8,-1.4,...,9,4.8,4,4,3.4,3.6,3.5,3.5,3.5,3.5
2,Algeria,-5.4,3,6.4,5.4,5.6,5.6,-0.2,-0.7,-1.9,...,3.8,3.6,4.1,3.7,3.4,2.9,2.7,2.7,2.5,2.5
3,Andorra,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,8.3,9.6,2.6,3.4,2.4,1.6,1.5,1.5,1.5,1.5
4,Angola,2.4,-4.4,0,4.2,6,3.5,2.9,4.1,6.1,...,2.1,4.2,1.3,4.4,2.1,2.1,2.5,2.9,3,3.1

In [73]:
data_pkb_change.to_csv("data_processed/data_pkb_change.csv", index=False)

In [74]:
data_hcode = pd.read_csv(
    "data_raw/harmonized-system.csv",
    encoding='ISO-8859-1'
)

In [75]:
data_hcode.head()

,section,hscode,description,parent,level
0,I,01,Animals; live,TOTAL,2
1,I,0101,"Horses, asses, mules and hinnies; live",01,4
2,I,010121,"Horses; live, pure-bred breeding animals",0101,6
3,I,010129,"Horses; live, other than pure-bred breeding an...",0101,6
4,I,010130,Asses; live,0101,6

In [76]:
data_hcode.to_csv("data_processed/data_hcode.csv", index=False)

In [77]:
data_sanctions = pd.read_csv(
    "data_raw/GSDB_V4.csv",
    encoding='ISO-8859-1'
)

In [78]:
data_sanctions.head()

,case_id,sanctioned_state,sanctioning_state,begin,end,trade,descr_trade,arms,military,financial,travel,other,target_mult,sender_mult,objective,success
0,1,German Democratic Republic,Germany,1949,1973,0,NaN,0,0,0,0,1,0,0,territorial_conflict,success_total
1,2,Pakistan,India,1949,1951,1,"exp_compl,imp_compl",0,0,0,0,0,0,0,policy_change,nego_settlement
2,3,Bulgaria,United States,1950,1963,0,NaN,0,0,1,0,0,0,0,destab_regime,success_part
3,4,Bulgaria,United States,1950,1966,0,NaN,0,0,0,0,1,0,0,destab_regime,failed
4,5,Bulgaria,United States,1950,1959,0,NaN,0,0,0,1,0,0,0,destab_regime,success_part

In [79]:
data_sanctions["end"].dtype

dtype('int64')

In [80]:
data_sanctions = data_sanctions[data_sanctions["end"]> 2019]
data_sanctions.head()

,case_id,sanctioned_state,sanctioning_state,begin,end,trade,descr_trade,arms,military,financial,travel,other,target_mult,sender_mult,objective,success
15,16,Israel,League of Arab States,1950,2023,1,"exp_compl,imp_compl",0,0,0,0,0,0,1,territorial_conflict,ongoing
25,26,"Korea, North",UN,1951,2023,0,NaN,1,0,0,0,0,0,1,end_war,ongoing
49,50,Cuba,United States,1958,2023,0,NaN,1,0,0,0,0,0,0,destab_regime,ongoing
72,73,Cuba,United States,1962,2023,1,"exp_compl,imp_compl",0,0,0,0,0,0,0,destab_regime,ongoing
178,179,Cyprus (Northern),Cyprus,1974,2023,0,NaN,0,0,0,0,1,0,0,territorial_conflict,ongoing

In [81]:
data_sanctions.sort_values(by="end", ascending=False, inplace=True)
data_sanctions.tail()

,case_id,sanctioned_state,sanctioning_state,begin,end,trade,descr_trade,arms,military,financial,travel,other,target_mult,sender_mult,objective,success
327,328,Cyprus,United States,1987,2020,0,NaN,1,0,0,0,0,0,0,territorial_conflict,failed
1133,1134,Guatemala,United States,2019,2020,0,NaN,0,0,1,0,0,0,0,policy_change,success_total
496,497,Sudan,United States,1993,2020,0,NaN,0,0,1,0,0,0,0,terrorism,success_part
1181,1182,Kyrgyzstan,Russia,2020,2020,0,NaN,0,0,1,0,0,0,0,destab_regime,nego_settlement
1132,1133,Ghana,United States,2019,2020,0,NaN,0,0,0,1,0,0,0,policy_change,success_total

In [82]:
data_sanctions.to_csv("data_processed/data_sanctions.csv", index=False)

In [83]:
data_macro_indicators = pd.read_csv(
    "data_raw/ffd37980-c55a-43ab-a1ab-4dc08f2a6b7e_Data.csv"
)
data_macro_indicators.head()

,Country Name,Country Code,Series Name,Series Code,2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Afghanistan,AFG,"Population, total",SP.POP.TOTL,39068979,40000412,40578842,41454761,42647492
1,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,11.71,5.679,..,..,..
2,Afghanistan,AFG,Agricultural land (sq. km),AG.LND.AGRI.K2,383130,383130,383130,381160,..
3,Afghanistan,AFG,Land area (sq. km),AG.LND.TOTL.K2,652230,652230,652230,652230,..
4,Afghanistan,AFG,Urban land area (sq. km),AG.LND.TOTL.UR.K2,..,..,..,..,..

In [84]:
data_macro_indicators.to_csv("data_processed/data_macro_indicators.csv", index=False)

In [85]:
data_hcode.columns

Index(['section', 'hscode', 'description', 'parent', 'level'], dtype='object')

In [86]:
data_trade = pd.merge(data_trade, data_hcode[["description", "hscode"]], left_on="cmdCode", right_on="description", how="left")
data_trade.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,description,hscode
0,A,20200101,2020,52,2020,8,ALB,Albania,M,Import,...,False,4.643818e+07,0.000,4.643818e+07,0,False,True,NaN,Meat and edible meat offal,02
1,A,20200101,2020,52,2020,8,ALB,Albania,X,Export,...,False,0.000000e+00,763274.564,7.632746e+05,0,False,True,NaN,Meat and edible meat offal,02
2,A,20200101,2020,52,2020,20,AND,Andorra,M,Import,...,False,3.075140e+07,NaN,3.075140e+07,0,False,True,NaN,Meat and edible meat offal,02
3,A,20200101,2020,52,2020,20,AND,Andorra,X,Export,...,False,NaN,3826.514,3.826514e+03,0,False,True,NaN,Meat and edible meat offal,02
4,A,20200101,2020,52,2020,24,AGO,Angola,M,Import,...,False,3.049372e+08,NaN,3.049372e+08,4,False,True,NaN,Meat and edible meat offal,02

In [87]:
print(data_trade.isna().sum())
data_trade["hscode"].info()

typeCode                        0
freqCode                        0
refPeriodId                     0
refYear                         0
refMonth                        0
period                          0
reporterCode                    0
reporterISO                     0
reporterDesc                    0
flowCode                        0
flowDesc                        0
partnerCode                     0
partnerISO                      0
partnerDesc                     0
partner2Code                    0
partner2ISO                     0
partner2Desc                    0
classificationCode              0
classificationSearchCode        0
isOriginalClassification        0
cmdCode                         0
cmdDesc                         0
aggrLevel                       0
isLeaf                          0
customsCode                     0
customsDesc                     0
mosCode                         0
motCode                         0
motDesc                         0
qtyUnitCode                 18820
qtyUnitAbbr                     0
qty                             0
isQtyEstimated                  0
altQtyUnitCode              20058
altQtyUnitAbbr                  0
altQty                          0
isAltQtyEstimated            2576
netWgt                          0
isNetWgtEstimated               0
grossWgt                        0
isGrossWgtEstimated          8786
cifvalue                     7919
fobvalue                        0
primaryValue                    0
legacyEstimationFlag            0
isReported                      0
isAggregate                 24264
description                  4447
hscode                       4447
dtype: int64
<class 'pandas.core.series.Series'>
RangeIndex: 24264 entries, 0 to 24263
Series name: hscode
Non-Null Count  Dtype
--------------  -----
19817 non-null  object
dtypes: object(1)
memory usage: 189.7+ KB

In [88]:
data_trade_clean = data_trade.dropna(subset=["hscode"])
data_trade_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19817 entries, 0 to 24237
Data columns (total 49 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  19817 non-null  object
 1   freqCode                  19817 non-null  int64
 2   refPeriodId               19817 non-null  int64
 3   refYear                   19817 non-null  int64
 4   refMonth                  19817 non-null  int64
 5   period                    19817 non-null  int64
 6   reporterCode              19817 non-null  object
 7   reporterISO               19817 non-null  object
 8   reporterDesc              19817 non-null  object
 9   flowCode                  19817 non-null  object
 10  flowDesc                  19817 non-null  int64
 11  partnerCode               19817 non-null  object
 12  partnerISO                19817 non-null  object
 13  partnerDesc               19817 non-null  int64
 14  partner2Code              19817 non-null  object
 15  partner2ISO               19817 non-null  object
 16  partner2Desc              19817 non-null  object
 17  classificationCode        19817 non-null  object
 18  classificationSearchCode  19817 non-null  bool
 19  isOriginalClassification  19817 non-null  object
 20  cmdCode                   19817 non-null  object
 21  cmdDesc                   19817 non-null  int64
 22  aggrLevel                 19817 non-null  bool
 23  isLeaf                    19817 non-null  object
 24  customsCode               19817 non-null  object
 25  customsDesc               19817 non-null  int64
 26  mosCode                   19817 non-null  int64
 27  motCode                   19817 non-null  object
 28  motDesc                   19817 non-null  int64
 29  qtyUnitCode               5444 non-null   object
 30  qtyUnitAbbr               19817 non-null  float64
 31  qty                       19817 non-null  bool
 32  isQtyEstimated            19817 non-null  int64
 33  altQtyUnitCode            4206 non-null   object
 34  altQtyUnitAbbr            19817 non-null  float64
 35  altQty                    19817 non-null  bool
 36  isAltQtyEstimated         18470 non-null  float64
 37  netWgt                    19817 non-null  bool
 38  isNetWgtEstimated         19817 non-null  float64
 39  grossWgt                  19817 non-null  bool
 40  isGrossWgtEstimated       12696 non-null  float64
 41  cifvalue                  13356 non-null  float64
 42  fobvalue                  19817 non-null  float64
 43  primaryValue              19817 non-null  int64
 44  legacyEstimationFlag      19817 non-null  bool
 45  isReported                19817 non-null  bool
 46  isAggregate               0 non-null      float64
 47  description               19817 non-null  object
 48  hscode                    19817 non-null  object
dtypes: bool(8), float64(8), int64(13), object(20)
memory usage: 6.5+ MB

In [89]:
data_trade_clean.drop(columns=["description", "cmdCode"], inplace=True)

/var/folders/dk/zjwq8trx6cbbykf77jz61hnc0000gn/T/ipykernel_33035/1615399124.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_trade_clean.drop(columns=["description", "cmdCode"], inplace=True)

In [90]:
data_trade_clean.to_csv("data_processed/data_trade_clean.csv", index=False)

In [93]:
data_trade_clean.columns

Index(['typeCode', 'freqCode', 'refPeriodId', 'refYear', 'refMonth', 'period',
       'reporterCode', 'reporterISO', 'reporterDesc', 'flowCode', 'flowDesc',
       'partnerCode', 'partnerISO', 'partnerDesc', 'partner2Code',
       'partner2ISO', 'partner2Desc', 'classificationCode',
       'classificationSearchCode', 'isOriginalClassification', 'cmdDesc',
       'aggrLevel', 'isLeaf', 'customsCode', 'customsDesc', 'mosCode',
       'motCode', 'motDesc', 'qtyUnitCode', 'qtyUnitAbbr', 'qty',
       'isQtyEstimated', 'altQtyUnitCode', 'altQtyUnitAbbr', 'altQty',
       'isAltQtyEstimated', 'netWgt', 'isNetWgtEstimated', 'grossWgt',
       'isGrossWgtEstimated', 'cifvalue', 'fobvalue', 'primaryValue',
       'legacyEstimationFlag', 'isReported', 'isAggregate', 'hscode'],
      dtype='object')