In [1]:
import pandas as pd

In [7]:
data_trade_1 = pd.read_csv(
    "data_raw/TradeData_12_2_2025_21_49_21 - FoodRelated.csv",
    encoding='ISO-8859-1'
)
data_trade_2 = pd.read_csv(
    "data_raw/TradeData_12_2_2025_21_54_20 - ProductionRelated.csv",
    encoding='ISO-8859-1'
)

In [8]:
data_trade_1.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
C,A,20200101,2020,52,2020,8,ALB,Albania,M,Import,...,False,0.0,False,4.643818e+07,0.000,4.643818e+07,0,False,True,NaN
C,A,20200101,2020,52,2020,8,ALB,Albania,X,Export,...,False,0.0,False,0.000000e+00,763274.564,7.632746e+05,0,False,True,NaN
C,A,20200101,2020,52,2020,20,AND,Andorra,M,Import,...,False,0.0,False,3.075140e+07,NaN,3.075140e+07,0,False,True,NaN
C,A,20200101,2020,52,2020,20,AND,Andorra,X,Export,...,False,0.0,False,NaN,3826.514,3.826514e+03,0,False,True,NaN
C,A,20200101,2020,52,2020,24,AGO,Angola,M,Import,...,True,0.0,False,3.049372e+08,NaN,3.049372e+08,4,False,True,NaN

In [9]:
data_trade_2.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
C,A,20200101,2020,52,2020,8,ALB,Albania,M,Import,...,False,0.0,False,266648.538,0.000,266648.538,0,False,True,NaN
C,A,20200101,2020,52,2020,20,AND,Andorra,M,Import,...,False,0.0,False,1626462.574,NaN,1626462.574,0,False,True,NaN
C,A,20200101,2020,52,2020,20,AND,Andorra,X,Export,...,False,0.0,False,NaN,190173.920,190173.920,0,False,True,NaN
C,A,20200101,2020,52,2020,24,AGO,Angola,M,Import,...,False,0.0,False,857641.587,NaN,857641.587,0,False,True,NaN
C,A,20200101,2020,52,2020,24,AGO,Angola,X,Export,...,False,0.0,False,NaN,6924.654,6924.654,0,False,True,NaN

In [10]:
data_trade = pd.concat([data_trade_1,data_trade_2], axis=0, ignore_index=True)

In [11]:
print(data_trade_1.shape)
print(data_trade_2.shape)
print(data_trade.shape)

(15706, 47)
(8558, 47)
(24264, 47)

In [14]:
data_trade.to_csv("data_processed/data_trade.csv", index=False)

In [17]:
data_pkb_change = pd.read_excel(
    "data_raw/imf-dm-export-20251202.xls"
)

In [18]:
data_pkb_change.head()

,Real GDP growth (Annual percent change),1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
0,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,-14.5,-6.2,2.3,1.7,no data,no data,no data,no data,no data,no data
1,Albania,2.7,5.7,2.9,1.1,2,-1.5,5.6,-0.8,-1.4,...,9,4.8,4,4,3.4,3.6,3.5,3.5,3.5,3.5
2,Algeria,-5.4,3,6.4,5.4,5.6,5.6,-0.2,-0.7,-1.9,...,3.8,3.6,4.1,3.7,3.4,2.9,2.7,2.7,2.5,2.5
3,Andorra,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,8.3,9.6,2.6,3.4,2.4,1.6,1.5,1.5,1.5,1.5
4,Angola,2.4,-4.4,0,4.2,6,3.5,2.9,4.1,6.1,...,2.1,4.2,1.3,4.4,2.1,2.1,2.5,2.9,3,3.1

In [23]:
data_pkb_change.to_csv("data_processed/data_pkb_change.csv", index=False)

In [28]:
data_hcode = pd.read_csv(
    "data_raw/harmonized-system.csv",
    encoding='ISO-8859-1'
)

In [29]:
data_hcode.head()

,section,hscode,description,parent,level
0,I,01,Animals; live,TOTAL,2
1,I,0101,"Horses, asses, mules and hinnies; live",01,4
2,I,010121,"Horses; live, pure-bred breeding animals",0101,6
3,I,010129,"Horses; live, other than pure-bred breeding an...",0101,6
4,I,010130,Asses; live,0101,6

In [30]:
data_hcode.to_csv("data_processed/data_hcode.csv", index=False)

In [35]:
data_sanctions = pd.read_csv(
    "data_raw/GSDB_V4.csv",
    encoding='ISO-8859-1'
)

In [36]:
data_sanctions.head()

,case_id,sanctioned_state,sanctioning_state,begin,end,trade,descr_trade,arms,military,financial,travel,other,target_mult,sender_mult,objective,success
0,1,German Democratic Republic,Germany,1949,1973,0,NaN,0,0,0,0,1,0,0,territorial_conflict,success_total
1,2,Pakistan,India,1949,1951,1,"exp_compl,imp_compl",0,0,0,0,0,0,0,policy_change,nego_settlement
2,3,Bulgaria,United States,1950,1963,0,NaN,0,0,1,0,0,0,0,destab_regime,success_part
3,4,Bulgaria,United States,1950,1966,0,NaN,0,0,0,0,1,0,0,destab_regime,failed
4,5,Bulgaria,United States,1950,1959,0,NaN,0,0,0,1,0,0,0,destab_regime,success_part

In [37]:
data_sanctions["end"].dtype

dtype('int64')

In [41]:
data_sanctions = data_sanctions[data_sanctions["end"]> 2019]
data_sanctions.head()

,case_id,sanctioned_state,sanctioning_state,begin,end,trade,descr_trade,arms,military,financial,travel,other,target_mult,sender_mult,objective,success
1181,1182,Kyrgyzstan,Russia,2020,2020,0,NaN,0,0,1,0,0,0,0,destab_regime,nego_settlement
1136,1137,Honduras,United States,2019,2020,0,NaN,0,0,1,0,0,0,0,policy_change,success_total
327,328,Cyprus,United States,1987,2020,0,NaN,1,0,0,0,0,0,0,territorial_conflict,failed
1133,1134,Guatemala,United States,2019,2020,0,NaN,0,0,1,0,0,0,0,policy_change,success_total
1132,1133,Ghana,United States,2019,2020,0,NaN,0,0,0,1,0,0,0,policy_change,success_total

In [42]:
data_sanctions.sort_values(by="end", ascending=False, inplace=True)
data_sanctions.tail()

,case_id,sanctioned_state,sanctioning_state,begin,end,trade,descr_trade,arms,military,financial,travel,other,target_mult,sender_mult,objective,success
1136,1137,Honduras,United States,2019,2020,0,NaN,0,0,1,0,0,0,0,policy_change,success_total
496,497,Sudan,United States,1993,2020,0,NaN,0,0,1,0,0,0,0,terrorism,success_part
1130,1131,El Salvador,United States,2019,2020,0,NaN,0,0,1,0,0,0,0,policy_change,success_total
860,861,Iran,UN,2010,2020,0,NaN,1,1,0,0,0,0,1,prevent_war,success_total
1181,1182,Kyrgyzstan,Russia,2020,2020,0,NaN,0,0,1,0,0,0,0,destab_regime,nego_settlement

In [43]:
data_sanctions.to_csv("data_processed/data_sanctions.csv", index=False)

In [45]:
data_macro_indicators = pd.read_csv(
    "data_raw/ffd37980-c55a-43ab-a1ab-4dc08f2a6b7e_Data.csv"
)
data_macro_indicators.head()

,Country Name,Country Code,Series Name,Series Code,2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Afghanistan,AFG,"Population, total",SP.POP.TOTL,39068979,40000412,40578842,41454761,42647492
1,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,11.71,5.679,..,..,..
2,Afghanistan,AFG,Agricultural land (sq. km),AG.LND.AGRI.K2,383130,383130,383130,381160,..
3,Afghanistan,AFG,Land area (sq. km),AG.LND.TOTL.K2,652230,652230,652230,652230,..
4,Afghanistan,AFG,Urban land area (sq. km),AG.LND.TOTL.UR.K2,..,..,..,..,..

In [46]:
data_macro_indicators.to_csv("data_processed/data_macro_indicators.csv", index=False)