In [417]:
import pandas as pd
import numpy as np

In [418]:
data_trade_2025 = pd.read_csv(
    "data_raw/TradeData_12_7_2025_21_11_16.csv",
    encoding='ISO-8859-1'
)
data_trade_2024 = pd.read_csv(
    "data_raw/TradeData_12_7_2025_21_11_53.csv",
    encoding='ISO-8859-1'
)
data_trade_2023 = pd.read_csv(
    "data_raw/TradeData_12_7_2025_21_12_25.csv",
    encoding='ISO-8859-1'
)
data_trade_2022 = pd.read_csv(
    "data_raw/TradeData_12_7_2025_21_12_47.csv",
    encoding='ISO-8859-1'
)
data_trade_2021 = pd.read_csv(
    "data_raw/TradeData_12_7_2025_21_13_9.csv",
    encoding='ISO-8859-1'
)
data_hcode = pd.read_csv(
    "data_raw/harmonized-system.csv",
    encoding='ISO-8859-1'
)
data_iso = pd.read_csv(
    "data_raw/countries_data.csv"
)

In [419]:
data_trade = pd.concat([data_trade_2025, data_trade_2024, data_trade_2023, data_trade_2022, data_trade_2021], axis=0, ignore_index=True)

In [420]:
data_trade.isna().sum()

typeCode                        0
freqCode                        0
refPeriodId                     0
refYear                         0
refMonth                        0
period                          0
reporterCode                    0
reporterISO                     0
reporterDesc                    0
flowCode                        0
flowDesc                        0
partnerCode                     0
partnerISO                      0
partnerDesc                     0
partner2Code                    0
partner2ISO                     0
partner2Desc                    0
classificationCode              0
classificationSearchCode        0
isOriginalClassification        0
cmdCode                         0
cmdDesc                         0
aggrLevel                       0
isLeaf                          0
customsCode                     0
customsDesc                     0
mosCode                         0
motCode                         0
motDesc                         0
qtyUnitCode                 73573
qtyUnitAbbr                     0
qty                             0
isQtyEstimated                  0
altQtyUnitCode              73573
altQtyUnitAbbr                  0
altQty                          0
isAltQtyEstimated            3051
netWgt                          0
isNetWgtEstimated               0
grossWgt                        0
isGrossWgtEstimated         42807
cifvalue                    17304
fobvalue                        0
primaryValue                    0
legacyEstimationFlag            0
isReported                      0
isAggregate                 73573
dtype: int64

In [421]:
data_trade.head(n=1000)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,M,20250101,2025,1,202501,51,ARM,Armenia,DX,Domestic Export,...,False,0,False,NaN,4.122800e+02,4.122800e+02,0,False,True,NaN
1,M,20250101,2025,1,202501,51,ARM,Armenia,FM,Foreign Import,...,False,0,False,21765.130,NaN,2.176513e+04,0,False,True,NaN
2,M,20250101,2025,1,202501,68,BOL,Bolivia (Plurinational State of),DX,Domestic Export,...,False,0,False,NaN,5.042670e+03,5.042670e+03,0,False,True,NaN
3,M,20250101,2025,1,202501,51,ARM,Armenia,FM,Foreign Import,...,False,0,False,1980682.560,NaN,1.980683e+06,0,False,True,NaN
4,M,20250101,2025,1,202501,68,BOL,Bolivia (Plurinational State of),DX,Domestic Export,...,False,0,False,NaN,1.714893e+07,1.714893e+07,0,False,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,M,20250101,2025,1,202501,764,THA,Thailand,RM,Re-import,...,True,0,False,131306.546,NaN,1.313065e+05,4,False,True,NaN
996,M,20250101,2025,1,202501,764,THA,Thailand,DX,Domestic Export,...,True,0,False,NaN,7.510098e+07,7.510098e+07,4,False,True,NaN
997,M,20250101,2025,1,202501,764,THA,Thailand,FM,Foreign Import,...,True,0,False,2357890.416,NaN,2.357890e+06,4,False,True,NaN
998,M,20250101,2025,1,202501,764,THA,Thailand,RM,Re-import,...,False,0,False,50711.676,NaN,5.071168e+04,0,False,True,NaN
999,M,20250101,2025,1,202501,757,CHE,Switzerland,RM,Re-import,...,True,0,False,201865.108,NaN,2.018651e+05,4,False,True,NaN

In [422]:
data_date = pd.DataFrame(data_trade["freqCode"].drop_duplicates())

In [423]:
data_date.head()

      freqCode
0     20250101
1050  20250201
1984  20250301
2858  20250401
3727  20250501

In [424]:
data_date['freqCode'] = data_date['freqCode'].astype(str)
data_date["Year"] = data_date['freqCode'].str.slice(start=0, stop=4)
data_date["Month_Number"] = data_date['freqCode'].str.slice(start=4, stop=6)

In [425]:
month_map = {
    "01": "January",
    "02": "February",
    "03": "March",
    "04": "April",
    "05": "May",
    "06": "June",
    "07": "July",
    "08": "August",
    "09": "September",
    "10": "October",
    "11": "November",
    "12": "December"
}

data_date["Month"] = data_date["Month_Number"].map(month_map)

data_date.head()

      freqCode  Year Month_Number     Month
0     20250101  2025           01   January
1050  20250201  2025           02  February
1984  20250301  2025           03     March
2858  20250401  2025           04     April
3727  20250501  2025           05       May

In [426]:
data_date.set_index("freqCode")

          Year Month_Number      Month
freqCode
20250101  2025           01    January
20250201  2025           02   February
20250301  2025           03      March
20250401  2025           04      April
20250501  2025           05        May
20250601  2025           06       June
20250701  2025           07       July
20250801  2025           08     August
20250901  2025           09  September
20251001  2025           10    October
20240101  2024           01    January
20240201  2024           02   February
20240301  2024           03      March
20240401  2024           04      April
20240501  2024           05        May
20240601  2024           06       June
20240701  2024           07       July
20240801  2024           08     August
20240901  2024           09  September
20241001  2024           10    October
20241101  2024           11   November
20241201  2024           12   December
20230101  2023           01    January
20230201  2023           02   February
20230301  2023           03      March
20230401  2023           04      April
20230501  2023           05        May
20230601  2023           06       June
20230701  2023           07       July
20230801  2023           08     August
20230901  2023           09  September
20231001  2023           10    October
20231101  2023           11   November
20231201  2023           12   December
20220101  2022           01    January
20220201  2022           02   February
20220301  2022           03      March
20220401  2022           04      April
20220501  2022           05        May
20220601  2022           06       June
20220701  2022           07       July
20220801  2022           08     August
20220901  2022           09  September
20221001  2022           10    October
20221101  2022           11   November
20221201  2022           12   December
20210101  2021           01    January
20210201  2021           02   February
20210301  2021           03      March
20210401  2021           04      April
20210501  2021           05        May
20210601  2021           06       June
20210701  2021           07       July
20210801  2021           08     August
20210901  2021           09  September
20211001  2021           10    October
20211101  2021           11   November
20211201  2021           12   December

In [427]:
data_date.to_csv("data_processed/dim_date.csv", index=False)

In [428]:
data_trade.drop(["refPeriodId", "refYear", "refMonth", "period"], axis=1, inplace=True)

In [429]:
data_trade.drop(["reporterISO"], axis=1, inplace=True)

In [430]:
data_flow = data_trade[["reporterDesc", "flowCode"]].drop_duplicates(subset=["reporterDesc"])
data_flow.head()

   reporterDesc         flowCode
0            DX  Domestic Export
1            FM   Foreign Import
5            RM        Re-import
13           RX        Re-export

In [431]:
data_flow.to_csv("data_processed/dim_flow.csv", index=False)

In [432]:
data_trade.drop(["flowCode", "flowDesc"], inplace=True, axis=1)

In [433]:
data_trade.drop(["typeCode"], inplace=True, axis=1)

In [434]:
data_trade.drop(["partnerCode", "partnerISO", "partnerDesc", "partner2Code", "partner2ISO", "partner2Desc", "classificationCode", "classificationSearchCode", "isOriginalClassification", "cmdDesc", "aggrLevel"], inplace=True, axis=1)

In [435]:
data_trade = pd.merge(data_trade, data_hcode[["description", "hscode"]], left_on="cmdCode", right_on="description", how="left")

In [436]:
data_trade.isnull().sum()

freqCode                    0
reporterCode                0
reporterDesc                0
cmdCode                     0
isLeaf                      0
customsCode                 0
customsDesc                 0
mosCode                     0
motCode                     0
motDesc                     0
qtyUnitCode             73573
qtyUnitAbbr                 0
qty                         0
isQtyEstimated              0
altQtyUnitCode          73573
altQtyUnitAbbr              0
altQty                      0
isAltQtyEstimated        3051
netWgt                      0
isNetWgtEstimated           0
grossWgt                    0
isGrossWgtEstimated     42807
cifvalue                17304
fobvalue                    0
primaryValue                0
legacyEstimationFlag        0
isReported                  0
isAggregate             73573
description              1993
hscode                   1993
dtype: int64

In [437]:
data_trade["hscode"] = data_trade["hscode"].fillna("24")

In [438]:
data_clearance = data_trade[["customsCode", "isLeaf"]].drop_duplicates(subset=["isLeaf"])

In [439]:
data_clearance.to_csv("data_processed/dim_clearence.csv", index=False)

In [440]:
data_trade.drop(["customsDesc", "motDesc", "qtyUnitCode", "qtyUnitAbbr", "qty", "isQtyEstimated", "altQtyUnitCode", "altQtyUnitAbbr", "altQty", "isAltQtyEstimated", "netWgt", "isNetWgtEstimated", "grossWgt", "isGrossWgtEstimated", "cifvalue", "primaryValue", "legacyEstimationFlag", "isReported", "isAggregate", "description"], axis=1, inplace=True)

In [441]:
data_mots = data_trade[["mosCode", "motCode"]].drop_duplicates(subset=["mosCode"])

In [442]:
data_mots.to_csv("data_processed/dim_mots.csv", index=False)

In [443]:
data_hcode.drop(columns=["section", "level"], inplace=True)

In [444]:
data_hcode.to_csv("data_processed/dim_product.csv", index=False)

In [445]:
data_iso.drop(["alpha-2", "iso_3166-2", "intermediate-region", "intermediate-region-code", "region-code", "sub-region-code"], axis=1, inplace=True)

In [446]:
data_iso.head()

             name alpha-3  country-code   region       sub-region
0     Afghanistan     AFG             4     Asia    Southern Asia
1   Ã…land Islands     ALA           248   Europe  Northern Europe
2         Albania     ALB             8   Europe  Southern Europe
3         Algeria     DZA            12   Africa  Northern Africa
4  American Samoa     ASM            16  Oceania        Polynesia

In [447]:
data_iso.to_csv("data_processed/dim_country.csv", index=False)

In [448]:
data_trade.head()

,freqCode,reporterCode,reporterDesc,cmdCode,isLeaf,customsCode,mosCode,motCode,fobvalue,hscode
0,20250101,ARM,DX,Meat and edible meat offal,C00,TOTAL CPC,1000,Air,412.28,02
1,20250101,ARM,FM,Meat and edible meat offal,C00,TOTAL CPC,1000,Air,21765.13,02
2,20250101,BOL,DX,Meat and edible meat offal,C00,TOTAL CPC,1000,Air,5042.67,02
3,20250101,ARM,FM,Meat and edible meat offal,C00,TOTAL CPC,3200,Road,1980682.56,02
4,20250101,BOL,DX,Meat and edible meat offal,C00,TOTAL CPC,3200,Road,17148929.54,02

In [449]:
data_trade.drop(["cmdCode", "motCode", "customsCode"], axis=1, inplace=True)

In [450]:
data_trade.rename(columns={
    "hscode": "product_code",
    "freqCode": "date_key",
    "reporterCode": "country_code",
    "reporterDesc": "flow_code",
    "isLeaf": "clearence_code",
    "mosCode": "mot_code",
    "fobvalue": "value"
},inplace=True)
data_trade.head(5)

,date_key,country_code,flow_code,clearence_code,mot_code,value,product_code
0,20250101,ARM,DX,C00,1000,412.28,02
1,20250101,ARM,FM,C00,1000,21765.13,02
2,20250101,BOL,DX,C00,1000,5042.67,02
3,20250101,ARM,FM,C00,3200,1980682.56,02
4,20250101,BOL,DX,C00,3200,17148929.54,02

In [451]:
data_trade.to_csv("data_processed/fact_trade.csv", index=False)

---

In [452]:
data_hcode[data_hcode["parent"] == "TOTAL"]

     hscode                                        description parent
0        01                                      Animals; live  TOTAL
41       02                         Meat and edible meat offal  TOTAL
118      03  Fish and crustaceans, molluscs and other aquat...  TOTAL
353      04  Dairy produce; birds' eggs; natural honey; edi...  TOTAL
397      05  Animal originated products; not elsewhere spec...  TOTAL
...     ...                                                ...    ...
6794     95  Toys, games and sports requisites; parts and a...  TOTAL
6840     96                Miscellaneous manufactured articles  TOTAL
6910     97      Works of art; collectors' pieces and antiques  TOTAL
6936     99        Commodities not specified according to kind  TOTAL
6939  TOTAL                    Total of all HS2022 commodities  TOTAL

[98 rows x 3 columns]